@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
  }
}

html, body, #root {
  @apply h-full;
}

body {
  @apply bg-white dark:bg-gray-900;
}

#root {
  @apply min-h-screen flex flex-col bg-white dark:bg-gray-900;
}

main {
  @apply flex-1;
}